html {
  background-color: rgb(156, 154, 154);
}

span.navbar-brand {
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(253, 246, 246);
  margin-left: 45px;
  text-decoration: none;
}

nav {
  display: contents;
}

.navigation {
  gap: 20px
}

a.navbar-brand:hover {
  text-decoration: underline;
}

div.container-fluid {
  display: flex;
    gap: 34px;
    align-items: center;
    background-color: #3936f0;
}

a.nav-link {
  text-decoration: none;
  color: rgb(253, 246, 246);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a.nav-link:hover {
  text-decoration: underline;
}

Button{
  background-color: #3936f0;
  color: rgb(253, 246, 246);
  border-style: none;
  font-size: larger;
}

Button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #3936f0;
}

div.container-md {
  text-align: center;
  /* margin-left: 150px;
  margin-right: 150px; */
  line-height: 34px;
  color: rgb(253, 246, 246);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome-container {
 border: solid 1px  #3936f0;
 margin-top: 65px;
 background-color: #3936f0;
 border-radius: 25px;
 padding: 60px;
}

.menu {
  display: flex;
  flex-direction: column;
  
}

.menu-img {
  height: 300px;
  width: 100%;
}

.menu-side {
 
  display: flex; 
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 15px;
}

.menu-cards {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 10px;
    row-gap: 10px;
    

}

.card-li {
  border: solid 2px #fff;
  background-color: #fff;
}

.order-btn {
  border-radius: 10px;
}

.filter-btns {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  gap: 15px;
}

.all-btn {
  padding: 19px 55px 19px 55px;
  border-radius: 30px;
}

.lunch-btn {
  padding: 19px 55px 19px 55px;
  border-radius: 30px;
}

.breakfast-btn {
  padding: 19px 55px 19px 55px;
  border-radius: 30px;
}

.contact-us {
  display: flex;
  justify-content: center;
}

.contact-us>img {
  height: 100vh;
  opacity: .3;
  position: relative;
  width: 100vw;
}

.contact-info {
  align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-info>h2 {
  margin-bottom: 30px;
  margin-top: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-info>p {
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.checkout-side {
  margin-left: 40%;
}

.accordion-body {
  display: flex;
  justify-content: space-around;
  
}

.complete-order-btn {
  margin-top: 10px;
  width: 100%;
}

.listGroupOrders {
  border: solid 2px rgb(0, 0, 255);
  border-radius: 10px;
  background-color: #3936f0;
}

.order-header {
  color: #fff;
  text-align: center;
}

.order-total {
  text-align: center;
  font-size: large;
  color: #fff;
}

@media (max-width: 768px) {
  
.menu-cards {
  display: flex;
  flex-direction: column;
  
}

}