span.navbar-brand {
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(253, 246, 246);
  margin-left: 45px;
}

div.container-fluid {
  display: flex;
    gap: 34px;
    align-items: center;
    background-color: #3936f0;
}

a.nav-link {
  text-decoration: none;
  color: rgb(253, 246, 246);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a.nav-link:hover {
  text-decoration: underline;
}
